:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  background: #fff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}
/*===========COMPONENT==========*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
}
.web {
  color: #2196f3;
}

.logo-light-theme {
  color: #000000;
}

.logo-dark-theme {
  color: #fff;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #fff;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*===========END COMPONENT==========*/

/*===========HEADER==========*/
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}
.current {
  color: #2196f3;
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  color: #757575;
}
.tel-link:hover,
.tel-link:focus {
  color: #2196f3;
}
/*===========END HEADER=========*/

/*===========HERO==========*/
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/*===========FEATURES==========*/
.features-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
  letter-spacing: 0.03em;
  color: #757575;
}
/*===========END FEATURES==========*/

/*===========FEATURES==========*/

/*===========END FEATURES==========*/

/*===========OUR TEAM==========*/
.team_member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.member-discription {
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  color: #757575;
}
/*===========END OUR TEAM==========*/

/*===========FOOTER==========*/
.footer {
  background-color: #2f303a;
}
.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.contact-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 7;
  letter-spacing: 0.03em;
  color: #ffffff99;
}
.contact-list-link:hover,
.contact-list-link:hover {
  color: #2196f3;
}
/*=========== END FOOTER==========*/

/*===========PORTFOLIO MENU==========*/
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  text-align: center;
  letter-spacing: 0.03em;

  /*color: #ffffff;*/
  cursor: pointer;
}
.btn:hover,
.btn:hover {
  background-color: #2196f3;
  color: #fff;
}
.portfolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-disc {
  font-size: 16px;
  line-height: 1, 9;
  letter-spacing: 0.03em;
  color: #757575;
}
